# Java / Maven
target/
*.class
*.jar
!.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml
.vscode/
.settings/
.classpath
.project

# SO
.DS_Store

# Logs
*.log

# Env / segredos locais
.env
*.pem

# Testcontainers
testcontainers.properties
